<div class="container">
  <div id="mainImage">
    <h1 id="title">Многофакторная система  <br> прогнозирования</h1>
    <p id="quote">Создавайте, обучайте, прогнозируйте</p>
    <div id ="btnContainer">
      <button mat-raised-button color="warn" (click)="goToTasks()">Перейти к задачам прогнозирования</button>
    </div>
  </div>

  <div id="goals" class="row">
    <div class="goalsItem col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <img src="images/home/2.png" />
      <p>Создавайте задачи указывая необходимое количество факторов</p>
    </div>
    <div class="goalsItem col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <img src="images/home/3.png" />
      <p>Выбирайте эффективный алгоритм и тренируйте модель прогнозирования</p>
    </div>
    <div class="goalsItem col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <img src="images/home/4.png" />
      <p>Прогнозируйте, стройте диаграммы и экспортируйте данные</p>
    </div>
  </div>
</div>