@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: "GimbalEgypHeaItal";
  src: url(../../wwwroot/fonts/GimbalEgyp-HeaItal.otf) format("truetype");
}

@font-face {
  font-family: "GimbalEgypItal";
  src: url(../../wwwroot/fonts/GimbalEgypExtd-Ital.otf) format("truetype");
}

@font-face {
  font-family: "GimbalEgypExtd-hea";
  src: url(../../wwwroot/fonts/GimbalEgypExtd-Hea.otf) format("truetype");
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #e1e4e6 !important; }

h2 {
  font-family: GimbalEgypExtd-hea;
}

h4 {
  font-family: GimbalEgypHeaItal;
}

hr {
  border: 1px solid #bd9a9a;
}

mat-dialog-container {
  background-color: #9cda9f !important;
}
