@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: "GimbalEgypHeaItal";
  font-weight: 400;  
  font-style: normal;  
  font-display: swap;
  src: url(../../wwwroot/fonts/GimbalEgyp-HeaItal.otf) format("opentype");
}

@font-face {
  font-family: "GimbalEgypItal";
  font-weight: 400;  
  font-style: normal;  
  font-display: swap;
  src: url(../../wwwroot/fonts/GimbalEgypExtd-Ital.otf) format("opentype");
}

@font-face {
  font-family: "GimbalEgypExtd-hea";
  font-weight: 400;  
  font-style: normal;  
  font-display: swap;
  src: url(../../wwwroot/fonts/GimbalEgypExtd-Hea.otf) format("opentype");
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  background-color: #e1e4e6 !important;
 }

h2 {
  font-family: GimbalEgypExtd-hea;
}

h4 {
  font-family: GimbalEgypHeaItal;
}

hr {
  border: 1px solid #bd9a9a;
}

mat-dialog-container {
  background-color: #9cda9f !important;
}

mat-expansion-panel {
  background-color: #b5dc96 !important;
}

.fullWidthBtn {
  width: 100%;
}

.btnSpinners {
  float: right;
  margin-top: 7px !important;
  margin-left: 10px !important;
}

mat-panel-title,
mat-panel-description {
  flex-basis: 0 !important;
}

mat-panel-description {
  justify-content: space-between !important;
  align-items: center !important;
}
