.btnSpinners {
  float: right;
  margin-top: 7px;
  margin-left: 10px;
}

.tableContainer {
  margin-top: 15px;
}
  
.loadingShade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

table, mat-paginator {
  width: 100%;
  background-color: #c7f1a7;
}

.tableHeader {
  font-size: 14px;
  font-weight: bold;
  font-family: GimbalEgypItal;
  cursor: help;
}

::ng-deep .tooltipRed {
  background: #b71c1c;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}
  
mat-paginator {
  font-size: 14px;
  font-family: GimbalEgypItal;
}
