mat-spinner {
  margin: 0 auto;
}

.removefilter, #addFilter , #search, #resetFilter {
  text-align: center;
}

.removefilterBtn {
  margin-top: 10px;
}

.tableContainer {
  margin-top: 15px;
}

table, mat-paginator {
  width: 100%;
  background-color: #c7f1a7;
}

.tableHeader {
  font-size: 14px;
  font-weight: bold;
  font-family: GimbalEgypItal;
  cursor: help;
}

::ng-deep .tooltipRed {
  background: #b71c1c;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}
  
mat-paginator {
  font-size: 14px;
  font-family: GimbalEgypItal;
}
