<mat-form-field>
    <input matInput name="taskName" [(ngModel)]='taskName' placeholder="Имя задачи">
</mat-form-field>

<div class="row" *ngFor="let taskField of taskFields">
    <mat-form-field class="col-xs-3 col-md-3 col-sm-3 col-3">
        <input matInput placeholder="Название поля" [(ngModel)]='taskField.name'>
    </mat-form-field>

    <mat-form-field class="col-xs-3 col-md-3 col-sm-3 col-3">
        <input matInput placeholder="Описание поля" [(ngModel)]="taskField.description">
    </mat-form-field>
    
    <mat-form-field class="col-xs-4 col-md-4 col-sm-4 col-4">
        <mat-select [(ngModel)]="taskField.type">
            <mat-option [value]="FieldType.InformationField">Ииформационное поле</mat-option>
            <mat-option [value]="FieldType.Factor">Фактор</mat-option>
            <mat-option [value]="FieldType.PredictionField" [disabled]="doesPredictionFieldSelected()">Прогнозируемое значение</mat-option>
        </mat-select>
    </mat-form-field>

    <div class="checkboxes col-xs-2 col-md-2 col-sm-2 col-2">
        <button mat-button (click)="removeField(taskField)" [disabled]="taskFields.length <= 1">Удалить</button>
    </div>
</div>

<button mat-button (click)="addField()">Добавить поле</button>
<button mat-raised-button color="primary"(click)="createTask()" [disabled]="!isValid() || isTaskCreating">
    <span>Создать задачу</span>
    <mat-spinner class="btnSpinners" [diameter]="20" *ngIf="isTaskCreating"></mat-spinner> 
</button>